.navbar{
    position: fixed;
    top: 0px;
    left:0px;
    right: 0px;
    background-color: #201f24;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    z-index: 100;
    border-bottom: 1px #fff solid;
}

.navbar--row__1{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
}

.navbar--a{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    border: none;
    transition: all .3s;
    background-color: transparent;
    font-size: 1rem;
}
@media(max-width:950px){
    .navbar--a{
        font-size: .8rem;
    }
}

@media(max-width:800px){
    .navbar--a{
        font-size: .6rem;
    }
}
.navbar--a:hover,
.navbar--a:active{
    color: rgb(255, 255, 255); 
}

.navbar--row__2{
    display: flex;
    padding: 2px;
    align-items: center;
    margin-top: -10px;
}

.navbar--brand{
    margin-left: 10px;
}

.navbar--brand img{
    width: 120px;
    height: 40px;
}

.navbar--right{
    display: flex;
    margin-left: auto;
}

.navbar--right ul{
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar--active{
    color: rgb(255, 255, 255);
    
    font-weight: 500;
}

.navbar--active__small{
    color: rgb(255, 255, 255);
}

.navbar--inactive__small{
    color: rgb(173, 170, 170);
}

.navbar--inactive{
    color: rgb(173, 170, 170);
    
}


.navbar--right ul li{
    margin-left: 10px;
    margin-right: 5px;
}
.navbar--right ul li .a:hover,
.navbar--right ul li .a 
{
    text-decoration: none;
    border: none;
    color: #000;
    background-color: #fff;
    border-radius: 20px;
    padding: 7px;
    cursor: pointer;
    font-size: .7rem;
}

.margin-left-small{
    margin-left: 1rem;
}

.font-small{
    font-size: .7rem;
}


.nc-navbar{
    transition: all .2s;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: none;
    position: relative;
    flex-direction: column;
    padding: 10px;
    border-bottom: 2px solid #fff;
    background-color: #201f24;
    
}

.nc-navbar-visible{
    display: flex;
}

.nc-brand img{
    width: 120px;
    height: 40px;
}


.nc-button{
    position: absolute;
    cursor: pointer;
    right:10px;
    top:10px;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: rgb(15, 14, 14);
    padding: auto;
    border:.2px solid rgb(129, 127, 127);
}

.nc-button img{
    height: 80%;
    width: 80%;
}

.nc-container{
    display: none;
}

.nc-container ul{
    margin-top: 1rem;
    list-style: none;

}

.nc-container ul li{
display: flex;
}

.nc-container ul li:not(:first-child){
    margin-top: 10px;
}


.nc-container ul li .a{
    text-decoration: none;
    border: none;
    color: #000;
    background-color: #fff;
    border-radius: 20px;
    padding: 7px;
    cursor: pointer;
    font-size: .7rem;
}

@media(max-width:750px){
    .nc-navbar{
        display: flex;
    }

    .navbar{
        display: none;
    }
}


.flex-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-svg{
    height: .8rem;
    width:.8rem;
}

.nav-svg use{
    fill: #fff;
}