$color_primary:#e3dcd2;
$color_secondary:#e9d4b6;


.aboutus-container{
    margin-top: 4.6rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: $color_primary;
    box-sizing: border-box;
    @media (max-width:850px) {
        padding: .2rem;
    }

    @media (max-width:750px) {
        margin-top: 0px;
    }

    
    .heading{
        text-align: center;
        font-size: 3rem;
        font-weight: 600;
        color: #000;
        word-spacing: 2px;
        @media (max-width:450px) {
            font-size: 2rem;
            padding: 10px 20px 10px 20px;
        }

    }
    .button-box{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
        &__btn{
            border: none;
            background-color: #fff;
            padding: 20px 40px 20px 40px;
            text-transform: capitalize;
            font-size: 2rem;
            color: #000;
            border-radius: 10px;
            border: .1px solid #000;

            @media (max-width:850px) {
                font-size: 1rem;
                padding: 10px 20px 10px 20px;
            }

            @media (max-width:450px) {
                font-size: .8rem;
                padding: 5px 10px 5px 10px;
            }

            &:hover,
            &:active{
                background-color: $color_secondary;
            }
            &:not(:first-child){
                margin-left: 1rem;
            }
        }
        .button-active{
            background-color: $color_secondary;
        }

        @media (max-width:450px) {
            margin-top: 1rem;
        }
    }

    .page-container{
        margin-top: 2rem;
        .page{
            img{
                width: 100%;
            }
            .animate{
                animation: imgLoad 1s ease-in;
            }
        }
    }
}

@keyframes imgLoad{
    0%{
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}