.footer{
    display: flex;
    margin-top: auto;
    padding: 30px 3rem;

    background-color: #201f24;
    justify-content: space-between; 
    overflow: hidden;
}


.box{
    display: flex;
    flex-direction: column;
}

.middle{
    margin-right: auto;
    margin-left: 50px;
}

.box .img{
    width: 200px;
    height: 60px;
}

.box ul{
    list-style: none;
    padding-left: 10px;
    color: #fff;
}

.box ul li{
    font-size: 1rem;
    color: rgba(243, 241, 241, 0.89);
    
}

.margin-top-middle{
    margin-top: 10px;
}

.title{
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #fff;
}

.social{
    display: flex;
    margin-top: 50px;
}
.social svg{

    height: 30px;
    width: 30px;
}

.social svg:not(:first-child){
    margin-left: 10px;
}

.social svg use{
    
    fill: #fff;
}
.contact{
    display: flex;
    color: #fff;
    margin-top: 10px;
    margin-left: 10px;
}
.contact:not(:last-child){
    margin-top: 30px;
}
.contact svg{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.contact svg use{
    fill: #fff;
    margin-top: 10px;
}

.footer-res{
    display: none;
    background-color: #201f24;
    padding:10px;
    width: 100%;
}

.block{
    display: flex;
    flex-direction: column;

}

.ul{
    display: flex;
    color: #fff;
    list-style: none;
    margin-top: 10px;
}

.ul li{
    color: #fff;
    margin-left: 20px;
}

@media (max-width:750px){
    .footer{
        margin-top: 20px;
    }
    .footer-res{
        margin-top: 20px;

    }
    .title{
        text-decoration: dotted;
    }

    .wdi-img{
        width: 150px;
    }
}

@media (max-width:650px){
    .footer{
        display: none;
    }
    .footer-res{
        display: flex;
    }
    .contact{
        margin-top: 2px !important;
        margin-left: 0px;
        font-size: .8 rem;
    }
    .img{
        margin-top: 30px;
    }
}

@media (max-width:500px){
    .ul li{
        font-size: .8rem;
    }
}

@media (max-width:500px){
    .title{
        font-size: .8rem;
    }

    .ul li{
        font-size: .6rem;
    }
}