.container{
  margin-top: 4.6rem;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  flex-basis: content;
  overflow: auto;
  animation: animateAll .8s ease-in-out;
  
}
.search-list{
  flex: .8;
  display: flex;
  flex-direction: column;
}

.popup-disable{
  display: none;
}
.popup{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}
.popup-img{
  height: 100%;
  width: 100%;
}
.popup-close{
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #fff;
  color: #000;
  border: none;
  padding: 5px;
  cursor: pointer;
}



@keyframes animateAll{
  0%{
      opacity: 0.2;
  }
  100%{
      opacity: 1;
  }
}

@media(max-width:800px){
  .container{
     padding: 2px;
     
  }  
}

@media(max-width:750px){
  .container{
    flex-direction: column;
    margin-top: 0rem;
  }  
  .search-list{
    margin-top: 1rem;
  }
}


input[type="checkbox"]:checked + label::after {
  content: '';
  position: absolute;
  width: 1.2ex;
  height: 0.4ex;
  background: transparent;
  top: 0.9ex;
  left: 0.4ex;
  border: 2px solid #d2c3b0;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type="checkbox"] {
  line-height: 2.1ex;
}

input[type="radio"],
input[type="checkbox"] {
   position: absolute;
   left: -999em;
}

input[type="checkbox"] + label {
   position: relative;
   overflow: hidden;
   cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  vertical-align: -25%;
  height: 2ex;
  width: 2ex;
  background-color: transparent;
  border: 1px solid rgb(166, 166, 166);
  border-radius: 4px;
  box-shadow: inset 0 2px 5px rgba(0,0,0,0.25);
  margin-right: 0.5em;
}